#tableSeguimientos td:last-child {
    white-space: nowrap;
    min-width: 160px; 
}

#tableZoocriaderos td:last-child {
    white-space: nowrap;
    min-width: 160px; 
}

#tableUsuarios td:last-child {
    white-space: nowrap;
    min-width: 160px; 
}

#tableRoles td:last-child {
    white-space: nowrap;
    min-width: 160px; 
}

